html{
	height: 100%
}
#body{
	background-color: white;
	height: 100%
}
#header{
	color:red;
	text-align: center;
}
/* source : https://codepen.io/xunnn/pen/yEmMbm */
td {
  width: 100px;
  height: 100px;
}
table {
  margin: 5px auto;
}
.vert {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.hori {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
#circle {
	display: none;
	background: black;
	border-radius: 50%;
	width: 5%;
	height: 11%;
	position: absolute;
}
#check
{
	border-radius: 2px;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 4em;
	position: absolute;
	display: none;
}
