html{
	height: 100%
}
#body{
	background-color: white;
	height: 100%
}
#header{
	color:red;
	text-align: center;
}
/* source : https://codepen.io/xunnn/pen/yEmMbm */
td {
  width: 15%;
  height: 15%;
}
table {
  margin: 5px auto;
	width: 25%;
	height: 55%;
}
.vert {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.hori {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
#circle {
	top: 14%;
	left: 40%;
	font-size: 6vw;
	border-radius: 2px;
	position: absolute;
	font-family: Helvetica;
	font-weight: bold;
	width: fit-content;
}
#check
{
	top: 16%;
	left: 41%;
	font-size: 6vw;
	border-radius: 2px;
	position: absolute;
	font-family: Helvetica;
	font-weight: bold;
	width: fit-content;
}
