html{
	height: 100%
}
#body{
	/*background-color: #322840;*/
  background-image:url(./SimpleShiny.svg)
}
#header{
	color:white;
	text-align: center;
	font-family: Marker Felt, fantasy;
}
#winnerVal{
	color: white;
	text-align: center;
	font-family: sans-serif;
}
#winnerValPlayer{
	color: white;
	text-align: center;
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
	width: fit-content;
	display: inline;
	padding-right: 30px;
}
#winnerValComp{
	color: grey;
	text-align: center;
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
	width: fit-content;
	display: inline;
}
#winnerPoints{
	width: 100%;
  text-align: center;
}
#winnerPoints1{
	width: 100%;
  text-align: center;
}
#winnerValPlayer1{
	color: white;
	text-align: center;
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
	width: fit-content;
	display: inline;
	padding-right: 30px;
}
#winnerValPlayer2{
	color: grey;
	text-align: center;
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
	width: fit-content;
	display: inline;
}
/* source : https://codepen.io/xunnn/pen/yEmMbm */
td {
  width: 15%;
  height: 15%;
	color: white;
/*	vertical-align: top;
  font-size: 5em;
  padding-left: 15px;*/

}
table {
  margin: 5px auto;
	width: 300px;
	height: 300px;
}
button{
	background-color: transparent;
	vertical-align: top;
	padding-left: 15px;
	border-style: none;
	width: 100%;
	height: 100%;
	font-size: 5em;
	align-items: center;
	display: flex;
	color: white;
}
.vert {
  border-left: 2px solid white;
  border-right: 2px solid white;
	color: white;
}
.hori {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
	color: white;
}
#circle {
	border-radius: 2px;
	position: absolute;
	font-family: Helvetica;
	font-weight: bold;
	width: fit-content;
}
#check
{
	border-radius: 2px;
	position: absolute;
	font-family: Helvetica;
	font-weight: bold;
	width: fit-content;
}
#info{
	padding-top: 50px;
	text-align: center;
}
#restartLink, #twoPlayer, #computer{
	text-decoration: none;
	font-family: sans-serif;
	color:grey;
	padding-right: 15px;
}
#restartLink:hover, #twoPlayer:hover, #computer:hover{
	text-decoration: none;
	color:white;
}
#compText{
	color:#B1A8B9;
	font-family: sans-serif;
	text-align: center;
}

.elementToFadeInAndOut {
  animation: fadeInOut 0.5s linear forwards;
}

@keyframes fadeInOut {
 0% { opacity:0; }
 50% { opacity:1; }
}
